#Put local vars here for the specific function

# Set Timezone
local current_timezone="Asia/Taipei"

# Network
local host_name="ubuntu22.localdomain"
local disable_ipv6=1

# -------- NTP ------
local ntp_urls="pool.ntp.org"

# Sample
# local ntp_urls="pool.ntp.org 0.ubuntu.pool.ntp.org 1.ubuntu.pool.ntp.org"

# -------- NTP for chrony ------
# Prefer using systemd-timesyncd now!
# NTP (use cron job instead of chronyd.service)
local ntp_use_chrony_crontab="n"

# ----------------------------------------------------
# RECOMMEND NOT TO MODIFY HERE
# ----------------------------------------------------
# inotify , file monitor, linux default is 8192
# set to higher for special usage , like Rails develope
local os_fs_inotify_max_user_watches="524288"
