#Put local vars here for the specific function
# Services to be stopped and disabled by default
local disabled_services


# Check services status by default target
# `systemctl list-dependencies multi-user.target`

# -------------------------------------------------------------------------------------------------------
# disable no used basic services
# -------------------------------------------------------------------------------------------------------
# apport: just like kdump in RHEL
# ufw:    just like firewalld in RHEL
# chrony: chronyd is an alias of chrony, will dissapear if chrony is disabled
disabled_services=(${disabled_services[@]} chrony ufw postfix apport)

# systemd-resolved (NSS)
# systemd-resolved: New tools like Name Service Switch NSS, but supports DNSSEC , DNS over TLS
# disabled_services=(${disabled_services[@]} systemd-resolved)

disabled_services=(${disabled_services[@]} iscsid.service open-iscsi.service iscsid.socket ModemManager.service multipathd.service multipathd.socket udisks2.service)

