#----------------------------------------
# Tmux version (github tag)
#----------------------------------------
#local tmux_tag_ver="3.0"
# Ubuntu 22.04 default 3.2a , no need to compile manually. It will compile automatically if defined version here > Ubuntu 22.04 tmux version
local tmux_tag_ver="3.2a"
