# Remove pkg: "bash-completion"
# Bad for os file manipulate
# ex. ls folder/*file* -> tab -> nothing happened (should display something if *file* exists)

# plymouth: boot startup loading screen
# such as,
#     spinner
#     three square dots

# local remove_pkg_names=(
#   "bash-completion"
#   "cockpit*"
#   "plymouth"
# )
local remove_pkg_names=(
  "bash-completion"
)
