#----------------------------------------
# PHP
#----------------------------------------
# ###########################################################
# Using 3rd repo
# ###########################################################
# Ref. https://techvblogs.com/blog/install-php-8-2-ubuntu-22-04
# PHP version of ppa:ondrej/php

# ###########################################################
# Define PHP version
# ###########################################################
# Defined in _php_laravel.cfg
# local php_version="8.1"
. ${PLUGINS}/plugin_load_databag.sh _php_laravel.cfg
